**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.github
**/.vs
**/.vscode
**/.project
**/*.*proj.user
**/.settings
**/.toolstarget
**/Dockerfile*
**/bin
**/obj
**/*.swp
**/*.md
docs/**/*
research/**/*
samples/**/*
**/node_modules
**/.nuxt
**/.output
**/dist
**/.baked