@use "mixins";
@use "variables";

@import url("./primary.css") (prefers-color-scheme: dark);
@import url("./secondary.css") (prefers-color-scheme: light);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(variables.$font-size * 1.2);
  min-width: calc(variables.$width-page-min + variables.$space-md);
}

img.baked {
  &:is(.logo),
  &:is(.logo:is(.full)) {
    content: variables.$url-logo-full;

    &:is(.mono) {
      content: variables.$url-logo-full-mono;
    }
  }

  &:is(.logo:is(.mark)) {
    content: variables.$url-logo-mark;

    &:is(.mono) {
      content: variables.$url-logo-mark-mono;
    }
  }
}

.content {
  nav {
    h4 {
      margin-top: 0;
      margin-bottom: variables.$space-xs;
      text-transform: uppercase;

      a {
        color: variables.$color-fg-second;
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: variables.$color-fg-second;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    & > code {
      font-size: smaller;
    }
  }

  p {
    &:has(.diagram) {
      @include mixins.box;
      border-color: variables.$color-bg-second;
      text-align: center;
      padding: 30px variables.$space-sm 18px variables.$space-sm;
    }
  }

  code {
    background-color: variables.$color-bg-code;
    border-radius: variables.$space-xs;
    padding: variables.$space-xs variables.$space-xs;
    color: variables.$color-fg-code;
    overflow-wrap: anywhere;
  }

  pre {
    overflow: auto;
    padding: variables.$space-md;

    code {
      padding: 0;
      background-color: transparent;
      display: block;
      max-width: 0;
      line-height: 1.5em;
    }
  }

  ul, ol {
    padding-inline-start: variables.$space-sm;
    list-style-position: inside;

    li {
      margin-bottom: variables.$space-xs;

      ul, ol {
        margin-top: variables.$space-xs;
      }
    }
  }

  hr {
    @include mixins.border();

    margin: 2em 0;
  }
}

@media (max-width: variables.$width-page-xl) {
  body {
    font-size: variables.$font-size;
    line-height: variables.$line-height;
  }

  .content {
    pre code {
      line-height: 1em;
    }
  }
}

@media (max-width: variables.$width-page-l) {
  .content {
    h2, h3 {
      scroll-margin-top: variables.$space-md;
    }
  }

  nav {
    h4 {
      a {
        cursor: pointer;
        padding: variables.$space-sm;

        &:hover {
          color: variables.$color-brand;
        }
      }
    }
  }
}
