@import url("./primary.css") (prefers-color-scheme: dark);
@import url("./secondary.css") (prefers-color-scheme: light);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: calc($font-size * 1.2);
  line-height: calc($line-height * $line-height-xl-coef);
}

img.do {
  &:is(.logo),
  &:is(.logo:is(.full)) {
    content: $url-logo-full;

    &:is(.mono) {
      content: $url-logo-full-mono;
    }
  }

  &:is(.logo:is(.mark)) {
    content: $url-logo-mark;

    &:is(.mono) {
      content: $url-logo-mark-mono;
    }
  }
}

.content {
  nav {
    h4 {
      margin-top: 0;
      margin-bottom: 0.5em;
      text-transform: uppercase;

      a {
        color: $color-fg-second;
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: $color-fg-second;
        }
      }
    }
  }

  p {
    &:has(.diagram) {
      @include box;
      border-color: $color-bg-second;
      text-align: center;
      padding: 30px 0px 18px 0px;
    }
  }

  code {
    background-color: $color-bg-code;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    color: $color-fg-code;
    overflow-wrap: anywhere;
    font-size: 0.9em;
  }

  pre {
    background-color: $color-bg-box;
    text-wrap: wrap;
    overflow: auto;
    max-width: calc($width-content - 6ch);

    code {
      padding: 0;
      background-color: transparent;
      text-wrap: nowrap;
      display: block;
      max-width: 0;
      line-height: 1.5em;
    }
  }

  ul, ol {
    li {
      margin-bottom: 0.2em;

      ul, ol {
        margin-top: 0.2em;
      }
    }
  }

  hr {
    @include border();
  }
}

@media (max-width: $width-page-xl) {
  body {
    font-size: $font-size;
    line-height: $line-height;
  }

  .content {
    pre code {
      line-height: 1.0em;
    }
  }
}

@media (max-width: $width-page-l) {
  .content {
    h2, h3 {
      scroll-margin-top: 3em;
    }
  }

  nav {
    h4 {
      a {
        cursor: pointer;
        padding: 1em;

        &:hover {
          color: $color-brand;
        }
      }
    }
  }
}
