@import url("https://mouseless.github.io/brand/assets/css/default.css");

@import url("./primary.css") (prefers-color-scheme: dark);
@import url("./secondary.css") (prefers-color-scheme: light);

html, body {
  margin: 0;
  padding: 0;
}

img.do {
  &:is(.logo),
  &:is(.logo:is(.full)) {
    content: $url-logo-full;

    &:is(.mono) {
      content: $url-logo-full-mono;
    }
  }

  &:is(.logo:is(.mark)) {
    content: $url-logo-mark;

    &:is(.mono) {
      content: $url-logo-mark-mono;
    }
  }
}

.content {
  h1 {
   &, code {
    color: $color-brand;
   }
  }

  h2, h3, h4, h5, h6 {
    &, code {
      color: $color-fg;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    scroll-margin-top: 0.5em;
    margin-top: 1.5em;
  }

  h3 {
    scroll-margin-top: 1em;
    margin-top: 1.5em;
  }

  nav {
    h4 {
      margin-top: 0;
      margin-bottom: 0.5em;
      text-transform: uppercase;

      a {
        color: $color-fg-passive;
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: $color-fg-passive;
        }
      }
    }
  }

  p {
    line-height: 1.5em;

    &:has(.diagram) {
      @include box;
      border-color: $color-border-code;
      text-align: center;
      padding: 30px 0px 18px 0px;
    }
  }

  code {
    background-color: $color-bg-code;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    color: $color-fg-code;
    overflow-wrap: anywhere;
  }

  blockquote {
    pre {
      margin-right: 3em;
    }

    &.info {
      code {
        color: $color-box-info;
      }
    }
    &.warning {
      code {
        color: $color-box-warning;
      }
    }
    &.tip {
      code {
        color: $color-box-tip;
      }
    }
    &.danger {
      code {
        color: $color-box-danger;
      }
    }
    &.default {
      code {
        color: $color-box-default;
      }
    }
  }

  pre {
    @include box;
    border-color: $color-border-code;
    padding: 1.2em;
    text-wrap: wrap;
    overflow: auto;

    code {
      padding: 0;
      background-color: transparent;
      text-wrap: nowrap;
      display: block;
      max-width: 0px;
    }
  }

  ul, ol {
    padding-inline-start: 1.2em;

    li {
      margin-bottom: 0.2em;
      line-height: 1.50em;

      ul, ol {
        margin-top: 0.2em;
      }
    }
  }

  table {
    border-spacing: 0;
    width: 100%;

    @include border();
    @include radius();

    tr {
      td, th {
        @include border(bottom);

        padding: 1vh 1vw;
      }

      th {
        color: $color-brand;
      }

      &:nth-child(2n-1) td {
        background-color: $color-bg-table;
      }

      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    * {
      text-align: left;
    }
  }

  hr {
    @include border();
  }
}

@media (max-width: $width-page) {
  .content {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 1.75em;

      code {
        font-size: 12px;
      }
    }

    ul, ol {
      li {
        font-size: 14px;
      }

      code {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: $width-page-l) {
  .content {
    h2 {
      scroll-margin-top: 2em;
    }

    h3 {
      scroll-margin-top: 3em;
    }
  }

  nav {
    h4 {
      a {
        cursor: pointer;
        padding: 1em;

        &:hover {
          color: $color-brand;
        }
      }
    }
  }
}
