@mixin border($properties...) {
  @if length($properties) == 0 {
    $properties: top, left, bottom, right;
  }

  @each $property in $properties {
    border-#{$property}: solid 2px $color-border;
  }
}

@mixin radius($properties...) {
  @if length($properties) == 0 {
    $properties: top, bottom;
  }

  @each $property in $properties {
    border-#{$property}: {
      left-radius: 10px;
      right-radius: 10px;
    }
  }
}

@mixin box {
  background-color: $color-bg-box;
  @include border();
  @include radius();
}

@mixin width {
  max-width: $width-page;

  @media (max-width: $width-page) {
    max-width: $width-page-l;
  }

  @media (max-width: $width-page-l) {
    max-width: $width-page-m;
  }

  @media (max-width: $width-page-m) {
    max-width: $width-page-s;
  }

  @media (max-width: $width-page-s) {
    max-width: 80%;
  }
}
