@use "sass:list" as *;
@use "variables" as *;

@mixin border($properties...) {
  @if length($properties) == 0 {
    $properties: top, left, bottom, right;
  }

  @each $property in $properties {
    border-#{$property}: solid 2px $color-bg-second;
  }
}

@mixin radius($properties...) {
  @if length($properties) == 0 {
    $properties: top, bottom;
  }

  @each $property in $properties {
    border-#{$property}: {
      left-radius: $border-radius;
      right-radius: $border-radius;
    }
  }
}

@mixin box {
  background-color: $color-bg-box;
  @include radius();
}

@mixin width {
  max-width: calc($width-page - $width-tolerance);
  box-sizing: border-box;
  min-width: $width-page-min;

  @media (max-width: $width-page-xl) {
    max-width: calc($width-page - $width-tolerance);
  }

  @media (max-width: $width-page-l) {
    max-width: calc($width-page - $width-side - $width-tolerance);
  }

  @media (max-width: $width-page-m) {
    max-width: calc($width-page - (2 * $width-side) - $width-content-margin - $width-tolerance);
  }

  @media (max-width: $width-page-s) {
    max-width: 82%;
  }
}
