$color_brand: #fa465b;
$color_bg_box: #111111;
$color_bg_box_border: #222222;
$color_bg_box_info: #001c78;
$color_bg_box_tip: #003600;
$color_bg_box_warning: #312b00;
$color_bg_box_danger: #4c0000;
$color_bg_box_default: #232323;
