$color-base-mix: var(--color-base-mix);
$color-brand: var(--color-brand);

$color-bg: var(--color-bg);
$color-bg-body: var(--color-bg-body);
$color-bg-box: var(--color-bg-box);
$color-bg-code: var(--color-bg-code);
$color-bg-box-danger: var(--color-bg-box-danger);
$color-bg-box-default: var(--color-bg-box-default);
$color-bg-box-menu: var(--color-bg-box-menu);
$color-bg-box-info: var(--color-bg-box-info);
$color-bg-box-tip: var(--color-bg-box-tip);
$color-bg-box-warning: var(--color-bg-box-warning);
$color-bg-table: var(--color-bg-table);

$color-fg: var(--color-fg);
$color-fg-code: var(--color-fg-code);
$color-fg-active: var(--color-fg-active);
$color-fg-passive: var(--color-fg-passive);
$color-fg-table: var(--color-fg-table);

$color-border: var(--color-border);
$color-box: var(--color-box);

$url-logo-full: var(--url-logo-full);
$url-logo-full-mono: var(--url-logo-full-mono);
$url-logo-mark: var(--url-logo-mark);
$url-logo-mark-mono: var(--url-logo-mark-mono);

$width-tolerance: 50px;
$width-page: 1768px + $width-tolerance;
$width-page-l: 1280px + $width-tolerance;
$width-page-m: 1024px + $width-tolerance;
$width-page-s: 768px + $width-tolerance;
$width-page-min: 270px;
