:root {
  /* light theme */
  --color-bg: #ebebeb;
  --color-fg: #000000;
  --color-brand: #fa465b;
  --color-bg-body: #ebebeb;
  --color-bg-code: #88888832;
  --color-bg-box: #111111;
  --color-bg-box-menu: #cacaca;
  --color-fg-active: #111111;
  --color-fg-passive: #111111;
  --color-fg-code: #444444;
  --color-border: #cacaca;
  --color-border-code: #646464;

  --color-base-mix: var(--color-bg);
  --color-box-tip: #1c8c12;
  --color-box-info: #1a2da6;
  --color-box-danger: #c41a1a;
  --color-box-warning: #9f5f00;
  --color-box-default: var(--color-fg);

  --color-fg-table: #000000;
  --color-bg-table: #cacaca;

  --url-logo-full: url("/logo-full-secondary.svg");
  --url-logo-full-mono: url("/logo-full-black.svg");
  --url-logo-mark: url("/logo-mark-secondary.svg");
  --url-logo-mark-mono: url("/logo-mark-black.svg");
}