:root {
    /* dark theme */
  --dark-bg-color: #000000;
  --dark-color-fg: #cccccc;
  --dark-color-brand: #fa465b;
  --dark-color-bg-body: #000000;
  --dark-color-bg-code: #ffffff22;
  --dark-color-bg-box: #111111;
  --dark-color-fg-active: #fa465b;
  --dark-color-fg-passive: #9b9b9b;
  --dark-color-fg-code: #cfcfcf;
  --dark-color-border: #222222;

  --dark-color-box-tip: #8dff8d;
  --dark-color-bg-box-tip: #003600;
  --dark-color-bd-box-tip: #006400;
  --dark-color-i-box-tip: #1bff1b;

  --dark-color-box-info: #f8f9ff;
  --dark-color-bg-box-info: #001c78;
  --dark-color-bd-box-info: #0028ab;
  --dark-color-i-box-info: #7898ff;

  --dark-color-box-danger: #ff9292;
  --dark-color-bg-box-danger: #4c0000;
  --dark-color-bd-box-danger: #770000;
  --dark-color-i-box-danger: #ff2626;

  --dark-color-box-warning: #fff18c;
  --dark-color-bg-box-warning: #312b00;
  --dark-color-bd-box-warning: #5f5300;
  --dark-color-i-box-warning: #ffe318;

  --dark-color-box-default: #c8c8c8;
  --dark-color-bg-box-default: #232323;
  --dark-color-bd-box-default: #393939;
  --dark-color-i-box-default: #919191;

  --dark-color-fg-table: #cccccc;
  --dark-color-bg-table: #222222;

  /* light theme */
  --light-bg-color: #ebebeb;
  --light-color-fg: #000000;
  --light-color-brand: #fa465b;
  --light-color-bg-body: #000000;
  --light-color-bg-code: #8c4e4e22;
  --light-color-bg-box: #111111;
  --light-color-fg-active: #fa465b;
  --light-color-fg-passive: #111111;
  --light-color-fg-code: #fa465b;
  --light-color-border: #222222;

  --light-color-box-tip: #8dff8d;
  --light-color-bg-box-tip: #003600;
  --light-color-bd-box-tip: #006400;
  --light-color-i-box-tip: #1bff1b;

  --light-color-box-info: #9db4ff;
  --light-color-bg-box-info: #001c78;
  --light-color-bd-box-info: #00259f;
  --light-color-i-box-info: #3c69ff;

  --light-color-box-danger: #ff9292;
  --light-color-bg-box-danger: #4c0000;
  --light-color-bd-box-danger: #770000;
  --light-color-i-box-danger: #ff2626;

  --light-color-box-warning: #fff18c;
  --light-color-bg-box-warning: #312b00;
  --light-color-bd-box-warning: #5f5300;
  --light-color-i-box-warning: #ffe318;

  --light-color-box-default: #c8c8c8;
  --light-color-bg-box-default: #232323;
  --light-color-bd-box-default: #393939;
  --light-color-i-box-default: #919191;

  --light-color-fg-table: #ebebeb;
  --light-color-bg-table: #222222;
}
