@reference "./tailwind.css";

@layer utilities {
  html {
    @apply max-xs:text-[smaller];
  }

  html, .bg-body {
    @apply bg-white;
  }

  @media (prefers-color-scheme: dark) {
    html, .bg-body {
      @apply bg-zinc-925;
    }
  }

  /* DATA TABLE */
  .p-datatable-tbody td.p-datatable-frozen-column {
    background: inherit;
  }

  /* MESSAGE */
  .message-outlined {
    @apply border rounded-md;

    .b-message-body {
      @apply py-[0.50rem] px-[0.75rem] min-w-[10rem] min-h-[1.5rem];
    }
  }
  .message-simple {
    @apply !bg-transparent;

    .b-message-icon {
      @apply text-sm;
    }
  }
  .message-simple .b-message-body {
    @apply  px-0;
  }
  .message-info {
    @apply bg-blue-50/95 text-blue-600 border-blue-200
      dark:bg-blue-950/95 dark:text-blue-500 dark:border-blue-700/65;
  }
  .message-error {
    @apply bg-red-50/95 text-red-600 border-red-200
      dark:bg-red-950/95 dark:text-red-500 dark:border-red-700/65;
  }
  .message-warn {
    @apply bg-yellow-50/95 text-yellow-600 border-yellow-200
      dark:bg-yellow-950/95 dark:text-yellow-500 dark:border-yellow-700/65;
  }
  .message-success {
    @apply bg-green-50/95 text-green-600 border-green-200
      dark:bg-green-950/95 dark:text-green-500 dark:border-green-700/65;
  }
  .message-secondary {
    @apply bg-transparent text-slate-500 border-slate-500
      dark:text-slate-400 dark:border-slate-400;
  }
  .message-contrast {
    @apply bg-transparent text-slate-950 border-slate-950
      dark:text-white dark:border-white;
  }

  /* PAGE TITLE */
  .b-component--PageTitle {
    .p-button {
      @apply self-stretch;

      .p-button-icon+.p-button-label {
        @apply max-sm:hidden;
      }
    }
  }

  /* POPOVER */
  .p-popover-content {
    & > div {
      @apply max-sm:p-0;
    }
  }
}