:root {
  --width-content: 100ch;
  --font-size: 16px;
  --border-radius: var(--space-xs);
}

$border-radius: var(--border-radius);

$color-brand: var(--color-logo-mark);

$color-bg: var(--color-bg);
$color-bg-second: var(--color-bg-soft);
$color-bg-third: var(--color-bg-mute);
$color-bg-nav: var(--color-bg-soft);
$color-bg-nav-active: var(--color-bg-soft);
$color-bg-box: var(--color-bg-box);
$color-bg-code: var(--color-bg-soft);

$color-bg-table-nth-child: var(--color-bg-soft);

$color-box-danger: var(--color-red-600);
$color-box-default: var(--color-fg);
$color-box-info: var(--color-blue-0);
$color-box-tip: var(--color-green-n1);
$color-box-warning: var(--color-orange-n1);

$color-fg: var(--color-fg);
$color-fg-heading: var(--color-logo-text);
$color-fg-second: var(--color-fg-soft);
$color-fg-third: var(--color-fg-mute);
$color-fg-code: var(--color-fg-soft);

$space-xs: var(--space-xs);
$space-sm: var(--space-sm);
$space-md: var(--space-md);
$space-lg: var(--space-lg);
$space-xl: var(--space-xl);

$font-default: var(--font-default);
$font-heading: var(--font-heading);
$font-size: var(--font-size);

$height-logo: var(--height-logo);

$line-height: var(--line-height);

$url-logo-full: var(--url-logo-full);
$url-logo-full-mono: var(--url-logo-full-mono);
$url-logo-mark: var(--url-logo-mark);
$url-logo-mark-mono: var(--url-logo-mark-mono);

$width-content: var(--width-content);
$width-content-margin: $space-md;
$width-side: 15em;
$width-tolerance: 50px;
$width-page: calc($width-content + (2 * $width-side) + $width-content-margin + $width-tolerance);
$width-page-xl: 1880px + $width-tolerance;
$width-page-l: 1480px + $width-tolerance;
$width-page-m: 1280px + $width-tolerance;
$width-page-s: 980px + $width-tolerance;
$width-page-min: 270px;
