/* menu-variables */
@layer primevue{
    :root,
    :host{
        --p-menu-separator-border-color:var(--p-content-border-color);
        --p-menu-submenu-label-padding:var(--p-navigation-submenu-label-padding);
        --p-menu-submenu-label-font-weight:var(--p-navigation-submenu-label-font-weight);
        --p-menu-submenu-label-background:var(--p-navigation-submenu-label-background);
        --p-menu-submenu-label-color:var(--p-navigation-submenu-label-color);
        --p-menu-item-focus-background:var(--p-navigation-item-focus-background);
        --p-menu-item-color:var(--p-navigation-item-color);
        --p-menu-item-focus-color:var(--p-navigation-item-focus-color);
        --p-menu-item-padding:var(--p-navigation-item-padding);
        --p-menu-item-border-radius:var(--p-navigation-item-border-radius);
        --p-menu-item-gap:var(--p-navigation-item-gap);
        --p-menu-item-icon-color:var(--p-navigation-item-icon-color);
        --p-menu-item-icon-focus-color:var(--p-navigation-item-icon-focus-color);
        --p-menu-list-padding:var(--p-navigation-list-padding);
        --p-menu-list-gap:var(--p-navigation-list-gap);
        --p-menu-background:var(--p-content-background);
        --p-menu-border-color:var(--p-content-border-color);
        --p-menu-color:var(--p-content-color);
        --p-menu-border-radius:var(--p-content-border-radius);
        --p-menu-shadow:var(--p-overlay-navigation-shadow);
        --p-menu-transition-duration:var(--p-transition-duration);
    }
}

/* menu-style */
@layer primevue{
     .p-menu{
        background:var(--p-menu-background);
        color:var(--p-menu-color);
        border:1px solid var(--p-menu-border-color);
        border-radius:var(--p-menu-border-radius);
        min-width:12.5rem;
    }
    .p-menu-list{
        margin:0;
        padding:var(--p-menu-list-padding);
        outline:0 none;
        list-style:none;
        display:flex;
        flex-direction:column;
        gap:var(--p-menu-list-gap);
    }
    .p-menu-item-content{
        transition:background var(--p-menu-transition-duration),color var(--p-menu-transition-duration);
        border-radius:var(--p-menu-item-border-radius);
        color:var(--p-menu-item-color);
        overflow: hidden;
    }
    .p-menu-item-link{
        cursor:pointer;
        display:flex;
        align-items:center;
        text-decoration:none;
        overflow:hidden;
        position:relative;
        color:inherit;
        padding:var(--p-menu-item-padding);
        gap:var(--p-menu-item-gap);
        user-select:none;
        outline:0 none;
    }
    .p-menu-item-label{
        line-height:1;
    }
    .p-menu-item-icon{
        color:var(--p-menu-item-icon-color);
    }
    .p-menu-item.p-focus .p-menu-item-content{
        color:var(--p-menu-item-focus-color);
        background:var(--p-menu-item-focus-background);
    }
    .p-menu-item.p-focus .p-menu-item-icon{
        color:var(--p-menu-item-icon-focus-color);
    }
    .p-menu-item:not(.p-disabled) .p-menu-item-content:hover{
        color:var(--p-menu-item-focus-color);
        background:var(--p-menu-item-focus-background);
    }
    .p-menu-item:not(.p-disabled) .p-menu-item-content:hover .p-menu-item-icon{
        color:var(--p-menu-item-icon-focus-color);
    }
    .p-menu-overlay{
        box-shadow:var(--p-menu-shadow);
    }
    .p-menu-submenu-label{
        background:var(--p-menu-submenu-label-background);
        padding:var(--p-menu-submenu-label-padding);
        color:var(--p-menu-submenu-label-color);
        font-weight:var(--p-menu-submenu-label-font-weight);
    }
    .p-menu-separator{
        border-block-start:1px solid var(--p-menu-separator-border-color);
    }
}
