/* paginator-variables */
@layer primevue{
    :root{
        --p-paginator-jump-to-page-input-max-width:2.5rem;
        --p-paginator-current-page-report-color:var(--p-text-muted-color);
        --p-paginator-nav-button-background:transparent;
        --p-paginator-nav-button-hover-background:var(--p-content-hover-background);
        --p-paginator-nav-button-selected-background:var(--p-highlight-background);
        --p-paginator-nav-button-color:var(--p-text-muted-color);
        --p-paginator-nav-button-hover-color:var(--p-text-hover-muted-color);
        --p-paginator-nav-button-selected-color:var(--p-highlight-color);
        --p-paginator-nav-button-width:2.5rem;
        --p-paginator-nav-button-height:2.5rem;
        --p-paginator-nav-button-border-radius:50%;
        --p-paginator-nav-button-focus-ring-width:var(--p-focus-ring-width);
        --p-paginator-nav-button-focus-ring-style:var(--p-focus-ring-style);
        --p-paginator-nav-button-focus-ring-color:var(--p-focus-ring-color);
        --p-paginator-nav-button-focus-ring-offset:var(--p-focus-ring-offset);
        --p-paginator-nav-button-focus-ring-shadow:var(--p-focus-ring-shadow);
        --p-paginator-padding:0.5rem 1rem;
        --p-paginator-gap:0.25rem;
        --p-paginator-border-radius:var(--p-content-border-radius);
        --p-paginator-background:var(--p-content-background);
        --p-paginator-color:var(--p-content-color);
        --p-paginator-transition-duration:var(--p-transition-duration);
    }
}

/* paginator-style */
@layer primevue{
     .p-paginator{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        background:var(--p-paginator-background);
        color:var(--p-paginator-color);
        padding:var(--p-paginator-padding);
        border-radius:var(--p-paginator-border-radius);
        gap:var(--p-paginator-gap);
    }
    .p-paginator-content{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        gap:var(--p-paginator-gap);
    }
    .p-paginator-content-start{
        margin-inline-end:auto;
    }
    .p-paginator-content-end{
        margin-inline-start:auto;
    }
    .p-paginator-page,.p-paginator-next,.p-paginator-last,.p-paginator-first,.p-paginator-prev{
        cursor:pointer;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        line-height:1;
        user-select:none;
        overflow:hidden;
        position:relative;
        background:var(--p-paginator-nav-button-background);
        border:0 none;
        color:var(--p-paginator-nav-button-color);
        min-width:var(--p-paginator-nav-button-width);
        height:var(--p-paginator-nav-button-height);
        transition:background var(--p-paginator-transition-duration),color var(--p-paginator-transition-duration),outline-color var(--p-paginator-transition-duration),box-shadow var(--p-paginator-transition-duration);
        border-radius:var(--p-paginator-nav-button-border-radius);
        padding:0;
        margin:0;
    }
    .p-paginator-page:focus-visible,.p-paginator-next:focus-visible,.p-paginator-last:focus-visible,.p-paginator-first:focus-visible,.p-paginator-prev:focus-visible{
        box-shadow:var(--p-paginator-nav-button-focus-ring-shadow);
        outline:var(--p-paginator-nav-button-focus-ring-width) var(--p-paginator-nav-button-focus-ring-style) var(--p-paginator-nav-button-focus-ring-color);
        outline-offset:var(--p-paginator-nav-button-focus-ring-offset);
    }
    .p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover,.p-paginator-first:not(.p-disabled):hover,.p-paginator-prev:not(.p-disabled):hover,.p-paginator-next:not(.p-disabled):hover,.p-paginator-last:not(.p-disabled):hover{
        background:var(--p-paginator-nav-button-hover-background);
        color:var(--p-paginator-nav-button-hover-color);
    }
    .p-paginator-page.p-paginator-page-selected{
        background:var(--p-paginator-nav-button-selected-background);
        color:var(--p-paginator-nav-button-selected-color);
    }
    .p-paginator-current{
        color:var(--p-paginator-current-page-report-color);
    }
    .p-paginator-pages{
        display:flex;
        align-items:center;
        gap:var(--p-paginator-gap);
    }
    .p-paginator-jtp-input .p-inputtext{
        max-width:var(--p-paginator-jump-to-page-input-max-width);
    }
    .p-paginator-first:dir(rtl),.p-paginator-prev:dir(rtl),.p-paginator-next:dir(rtl),.p-paginator-last:dir(rtl){
        transform:rotate(180deg);
    }
}
