route-parameters-sample @locatable

child {
  @locatable query-type="Baked.Playground.Orm.Children"
}

entity {
  @locatable query-type="Baked.Playground.Orm.Entities"
}

locatable-label @locatable

parent {
  @locatable query-type="Baked.Playground.Orm.Parents"
}

entity-with-value-type {
  @locatable query-type="Baked.Playground.CodingStyle.ValueType.EntityWithValueTypes"
}

rich-transient-async @locatable

rich-transient-child @locatable

rich-transient-no-data @locatable

rich-transient-parent @locatable

rich-transient-with-custom-id-property @locatable

rich-transient-with-data @locatable

route-sample @locatable

i-locatable @locatable

implemented-locatable @locatable

entity-extension {
  @locatable query-type="Baked.Playground.CodingStyle.LocatableExtension.EntityExtensions"
}

rich-transient-async-extension {
  @locatable query-type="Baked.Playground.CodingStyle.LocatableExtension.RichTransientAsyncExtensions"
}

rich-transient-extension {
  @locatable query-type="Baked.Playground.CodingStyle.LocatableExtension.RichTransientExtensions"
}

entity-with-assigned-guid-id @locatable

entity-with-assigned-id @locatable

entity-with-auto-increment-id @locatable

a-typed-entity @locatable

b-typed-entity @locatable

typed-entity {
  @locatable query-type="Baked.Playground.CodingStyle.EntitySubclass.TypedEntities"
}

