html {
  @apply max-xs:text-[smaller];
}

.custom-css-visible {
  display: block;
}

.custom-css-hidden {
  display: none;
}

.b-route--data-table {
  .b--tabs.b--contents.b--0 {
    .b-component--DataTable {
      th:last-child {
        .flex {
          @apply gap-24;
        }

        .p-button {
          @apply px-5 border border-zinc-200 dark:border-zinc-700 rounded;
        }
      }
    }
  }
}
