.custom-css-visible {
  display: block;
}

.custom-css-hidden {
  display: none;
}

.b-route--data-table {
  .b--tabs.b--contents.b--0 {
    .b-component--DataTable {
      th:last-child {
        .flex {
          @apply gap-24;
        }

        .p-button {
          @apply px-5 border border-zinc-200 dark:border-zinc-700 rounded;
        }
      }
    }
  }
}

.p-popover-content {
  & > div {
    @apply max-sm:p-0;
  }

  .p-selectbutton {
    @apply max-sm:flex-col;

    .p-togglebutton {
      &:first-child {
        @apply max-sm:rounded-t-lg max-sm:rounded-es-none;
      }
      &:last-child {
        @apply max-sm:rounded-b-lg max-sm:rounded-se-none;
      }
    }
  } 
}