authorization-samples @api-controller {
  anonymous {
    @api-action route="POST /authorization-samples/anonymous" anonymous=#true
  }
  admin {
    @api-action route="POST /authorization-samples/admin" required-claims="BaseA, BaseB, Admin"
  }
  user {
    @api-action route="POST /authorization-samples/user" required-claims="BaseA, BaseB, User"
  }
  authenticated {
    @api-action route="POST /authorization-samples/authenticated"
  }
  base-claims {
    @api-action route="POST /authorization-samples/base-claims" required-claims="BaseA, BaseB"
  }
  given-claims {
    @api-action route="POST /authorization-samples/given-claims" required-claims="GivenA, GivenB"
  }
  given-and-base-claims {
    @api-action route="POST /authorization-samples/given-and-base-claims" required-claims="BaseA, BaseB, GivenA, GivenB"
  }
}

