authorization-class-samples @api-controller {
  class-claims {
    @api-action route="POST /authorization-class-samples/class-claims" required-claims="BaseA, BaseB, GivenA, GivenB"
  }
  method-over-class-claims {
    @api-action route="POST /authorization-class-samples/method-over-class-claims" required-claims="GivenC"
  }
}

