authentication-samples @api-controller {
  authenticate {
    @api-action route="POST /authentication-samples/authenticate" required-claims="BaseA, BaseB"
  }
  form-post-authenticate {
    @api-action route="POST /authentication-samples/form-post-authenticate" form=#true required-claims="BaseA, BaseB"
    value {
      @api-parameter required=#true
    }
  }
  login {
    @api-action route="POST /authentication-samples/login" anonymous=#true
    username {
      @api-parameter required=#true
    }
  }
  refresh {
    @api-action route="POST /authentication-samples/refresh" required-claims="Refresh"
  }
}

