create-bulk-commanded @api-controller {
  execute {
    @api-action route="PATCH /bulk-commanded" flat-request-body=#true required-claims="BaseA, BaseB"
    descriptors {
      @api-parameter required=#true
    }
  }
}

sync-bulk-commanded @api-controller {
  execute {
    @api-action route="PUT /bulk-commanded" flat-request-body=#true required-claims="BaseA, BaseB"
    descriptors {
      @api-parameter required=#true
    }
  }
}

