cache-samples @controller-model {
  get-scoped {
    @action-model method="GET" route="cache-samples/scoped"
  }
  get-application {
    @action-model method="GET" route="cache-samples/application"
  }
}

