cache-samples @api-controller {
  get-scoped {
    @api-action route="GET /cache-samples/scoped" anonymous=#true
  }
  get-application {
    @api-action route="GET /cache-samples/application" anonymous=#true
  }
}

