child {
  @api-controller locate-route="GET /children/{id}"
  update {
    @api-action route="PUT /children/{id}/" anonymous=#true
    name @api-parameter
    parent @api-parameter
    parent-wrapper @api-parameter
  }
}

children @api-controller {
  by {
    @api-action route="GET /children" required-claims="BaseA, BaseB"
  }
  first-by {
    @api-action route="GET /children/first" required-claims="BaseA, BaseB"
    fetch-parents {
      @api-parameter in="query"
    }
  }
}

