child {
  @controller-model locate-route="GET /children/{id}"
  update {
    @action-model route="PUT /children/{id}/" required-claims="BaseA, BaseB"
    name @parameter-model
    parent @parameter-model
    parentWrapper @parameter-model
  }
}

