children @controller-model {
  by {
    @action-model route="GET /children" required-claims="BaseA, BaseB"
  }
  first-by {
    @action-model route="GET /children/first" required-claims="BaseA, BaseB"
    fetchParents {
      @parameter-model in="query"
    }
  }
}

