children @controller-model {
  by {
    @action-model method="GET" route="children"
  }
  first-by {
    @action-model method="GET" route="children/first"
    fetchParents {
      @parameter-model in="query"
    }
  }
}

