class @controller-model {
  method {
    @action-model method="POST" route="class/method"
  }
  abstract-method {
    @action-model method="POST" route="class/abstract-method"
  }
  interface-method {
    @action-model method="POST" route="class/interface-method"
  }
  virtual-method {
    @action-model method="POST" route="class/virtual-method"
  }
}

