class @api-controller {
  method {
    @api-action route="POST /class/method" required-claims="BaseA, BaseB"
  }
  abstract-method {
    @api-action route="POST /class/abstract-method" required-claims="BaseA, BaseB"
  }
  interface-method {
    @api-action route="POST /class/interface-method" required-claims="BaseA, BaseB"
  }
  virtual-method {
    @api-action route="POST /class/virtual-method" required-claims="BaseA, BaseB"
  }
}

