class @controller-model {
  method {
    @action-model route="POST /class/method" required-claims="BaseA, BaseB"
  }
  abstract-method {
    @action-model route="POST /class/abstract-method" required-claims="BaseA, BaseB"
  }
  interface-method {
    @action-model route="POST /class/interface-method" required-claims="BaseA, BaseB"
  }
  virtual-method {
    @action-model route="POST /class/virtual-method" required-claims="BaseA, BaseB"
  }
}

