clear-commanded @api-controller {
  execute {
    @api-action route="DELETE /commanded" required-claims="BaseA, BaseB"
    execute-param {
      @api-parameter in="query"
    }
  }
}

commanded @api-controller {
  method {
    @api-action route="POST /commanded/method" required-claims="BaseA, BaseB"
    body {
      @api-parameter required=#true
    }
  }
}

execute-commanded @api-controller {
  execute {
    @api-action route="POST /commanded" required-claims="BaseA, BaseB"
  }
}

get-commanded @api-controller {
  execute {
    @api-action route="GET /commanded" required-claims="BaseA, BaseB"
  }
}

update-commanded @api-controller {
  execute {
    @api-action route="PATCH /commanded" required-claims="BaseA, BaseB"
  }
}

