clear-command @controller-model {
  execute {
    @action-model method="DELETE" route="/command"
    executeParam {
      @parameter-model required=#true in="query"
    }
  }
}

command @controller-model {
  transient {
    @action-model method="POST" route="/command/transient"
    body {
      @parameter-model required=#true
    }
  }
}

execute-command @controller-model {
  execute {
    @action-model method="POST" route="/command"
  }
}

get-command @controller-model {
  execute {
    @action-model method="GET" route="/command"
  }
}

update-command @controller-model {
  execute {
    @action-model method="PATCH" route="/command"
  }
}

