create-bulk-command {
  @controller-model groupName="BulkCommand"
  execute {
    @action-model method="PATCH" route="bulk-command" no-wrap=#true
    descriptors {
      @parameter-model required=#true
    }
  }
}

