documentation-samples @api-controller {
  execute {
    @api-action route="POST /documentation-samples" required-claims="BaseA, BaseB"
    parameter {
      @api-parameter required=#true
    }
  }
}

documentation-samples @api-controller {
  method {
    @api-action route="POST /documentation-samples/method" required-claims="BaseA, BaseB"
    parameter1 {
      @api-parameter required=#true
    }
    parameter2 {
      @api-parameter required=#true
    }
  }
  parameterless-method {
    @api-action route="POST /documentation-samples/parameterless-method" required-claims="BaseA, BaseB"
  }
  array-and-generic-parameters {
    @api-action route="POST /documentation-samples/array-and-generic-parameters" required-claims="BaseA, BaseB"
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
    dictionary {
      @api-parameter required=#true
    }
  }
  route {
    @api-action route="POST /documentation-samples/route/{route}" required-claims="BaseA, BaseB"
    route {
      @api-parameter required=#true in="route"
    }
  }
  multiline {
    @api-action route="POST /documentation-samples/multiline" required-claims="BaseA, BaseB"
  }
}

