entity-with-value-type @api-controller {
  with {
    @api-action route="POST /entity-with-value-types" required-claims="BaseA, BaseB"
    value {
      @api-parameter required=#true
    }
  }
}

entity-with-value-types @api-controller {
  by {
    @api-action route="GET /entity-with-value-types" required-claims="BaseA, BaseB"
    value {
      @api-parameter in="query"
    }
  }
}

