entity {
  @api-controller locate-route="GET /entities/{id}"
  with {
    @api-action route="POST /entities" required-claims="BaseA, BaseB"
    guid @api-parameter
    string @api-parameter
    string-data @api-parameter
    int32 @api-parameter
    decimal @api-parameter
    double @api-parameter
    boolean @api-parameter
    unique @api-parameter
    uri @api-parameter
    mail-address @api-parameter
    dynamic @api-parameter
    enum @api-parameter
    flags-enum @api-parameter
    date-time @api-parameter
    date-only @api-parameter
    time-only @api-parameter
  }
  update {
    @api-action route="PUT /entities/{id}/" required-claims="BaseA, BaseB"
    guid @api-parameter
    string @api-parameter
    string-data @api-parameter
    int32 @api-parameter
    decimal @api-parameter
    double @api-parameter
    boolean @api-parameter
    unique @api-parameter
    uri @api-parameter
    mail-address @api-parameter
    dynamic @api-parameter
    enum @api-parameter
    flags-enum @api-parameter
    date-time @api-parameter
    date-only @api-parameter
    use-transaction @api-parameter
    throw-error @api-parameter
  }
  update-string {
    @api-action route="PATCH /entities/{id}/string" required-claims="BaseA, BaseB"
    string @api-parameter
  }
  lock-and-increment-int32 {
    @api-action route="POST /entities/{id}/lock-and-increment-int32" required-claims="BaseA, BaseB"
    offset @api-parameter
    delay-in-seconds @api-parameter
  }
  delete {
    @api-action route="DELETE /entities/{id}/" required-claims="BaseA, BaseB"
  }
}

entities @api-controller {
  by {
    @api-action route="GET /entities" required-claims="BaseA, BaseB"
    guid {
      @api-parameter in="query"
    }
    string {
      @api-parameter in="query"
    }
    string-data {
      @api-parameter in="query"
    }
    int32 {
      @api-parameter in="query"
    }
    decimal {
      @api-parameter in="query"
    }
    double {
      @api-parameter in="query"
    }
    boolean {
      @api-parameter in="query"
    }
    unique {
      @api-parameter in="query"
    }
    uri {
      @api-parameter in="query"
    }
    mail-address {
      @api-parameter in="query"
    }
    enum {
      @api-parameter in="query"
    }
    flags-enum {
      @api-parameter in="query"
    }
    date-time {
      @api-parameter in="query"
    }
    take {
      @api-parameter in="query"
    }
    skip {
      @api-parameter in="query"
    }
  }
  first-by-string {
    @api-action route="GET /entities/first-by-string" required-claims="BaseA, BaseB"
    starts-with {
      @api-parameter required=#true in="query"
    }
    asc {
      @api-parameter in="query"
    }
    desc {
      @api-parameter in="query"
    }
  }
  count-by-date {
    @api-action route="POST /entities/count-by-date" required-claims="BaseA, BaseB"
  }
}

entity-extension @api-controller {
  increment-int32 {
    @api-action route="POST /entities/{id}/increment-int32" required-claims="BaseA, BaseB"
  }
  increment-by {
    @api-action route="POST /entities/{id}/increment-by" required-claims="BaseA, BaseB"
    other {
      @api-parameter required=#true
    }
  }
  increment-by-all {
    @api-action route="POST /entities/{id}/increment-by-all" required-claims="BaseA, BaseB"
    extensions {
      @api-parameter required=#true
    }
    more-extensions {
      @api-parameter required=#true
    }
    even-more-extensions {
      @api-parameter required=#true
    }
  }
}

