entity-with-value-type @controller-model {
  with {
    @action-model method="POST" route="entity-with-value-types"
    value {
      @parameter-model required=#true
    }
  }
}

entity-with-value-types @controller-model {
  by {
    @action-model method="GET" route="entity-with-value-types"
    value {
      @parameter-model in="query"
    }
  }
}

