entity-with-assigned-id @api-controller {
  with {
    @api-action route="GET /entity-with-assigned-ids/{id}" required-claims="BaseA, BaseB"
    id {
      @api-parameter required=#true in="route"
    }
  }
}

