entity-extension {
  @controller-model groupName="Entities"
  increment-int-32 {
    @action-model method="POST" route="entities/{id}/increment-int32"
  }
  increment-by {
    @action-model method="POST" route="entities/{id}/increment-by"
    other {
      @parameter-model required=#true
    }
  }
  increment-by-all {
    @action-model method="POST" route="entities/{id}/increment-by-all"
    extensions {
      @parameter-model required=#true
    }
    moreExtensions {
      @parameter-model required=#true
    }
    evenMoreExtensions {
      @parameter-model required=#true
    }
  }
}

