entity-with-assigned-guid-id @controller-model {
  with {
    @action-model method="GET" route="/entity-with-assigned-guid-ids/{id}"
    id {
      @parameter-model required=#true in="route"
    }
  }
}

