exception-samples @controller-model {
  throw {
    @action-model route="POST /exception-samples/throw" required-claims="BaseA, BaseB"
    handled {
      @parameter-model required=#true in="query"
    }
  }
}

