exception-samples @api-controller {
  throw {
    @api-action route="POST /exception-samples/throw" anonymous=#true
    handled {
      @api-parameter required=#true in="query"
    }
  }
  get-handled {
    @api-action route="GET /exception-samples/handled" anonymous=#true
  }
  handled {
    @api-action route="POST /exception-samples/handled" anonymous=#true
    text @api-parameter
  }
}

