form-sample @api-controller {
  get-entities {
    @api-action route="GET /form-sample/entities" anonymous=#true
  }
  new-parent {
    @api-action route="POST /form-sample/parents" anonymous=#true
    surname {
      @api-parameter required=#true
    }
    name @api-parameter
    role @api-parameter
    status @api-parameter
    description @api-parameter
  }
  clear-parents {
    @api-action route="DELETE /form-sample/parents" anonymous=#true
  }
  get-parents {
    @api-action route="GET /form-sample/parents" anonymous=#true
    name {
      @api-parameter in="query"
    }
    sort {
      @api-parameter in="query"
    }
    take {
      @api-parameter in="query"
    }
    skip {
      @api-parameter in="query"
    }
  }
  get-parents-role {
    @api-action route="GET /form-sample/parents-role" anonymous=#true
    name {
      @api-parameter in="query"
    }
    sort {
      @api-parameter in="query"
    }
    take {
      @api-parameter in="query"
    }
    skip {
      @api-parameter in="query"
    }
  }
}

