implemented-locatable @api-controller {
  with {
    @api-action route="GET /implemented-locatables/{id}" required-claims="BaseA, BaseB"
    id {
      @api-parameter required=#true in="route"
    }
  }
}

