internal-samples @controller-model {
  internal-request {
    @action-model method="POST" route="internal-samples/internal-request"
    path {
      @parameter-model required=#true
    }
    method {
      @parameter-model required=#true
    }
    content @parameter-model
  }
}

