internal-samples @api-controller {
  internal-request {
    @api-action route="POST /internal-samples/internal-request" required-claims="BaseA, BaseB"
    path {
      @api-parameter required=#true
    }
    method {
      @api-parameter required=#true
    }
    content @api-parameter
  }
}

