localization-samples @api-controller {
  get-locale-string {
    @api-action route="GET /localization-samples/locale-string" required-claims="BaseA, BaseB"
  }
  get-parameterized {
    @api-action route="GET /localization-samples/parameterized" required-claims="BaseA, BaseB"
    param {
      @api-parameter required=#true in="query"
    }
  }
  get-model-binding-errors {
    @api-action route="GET /localization-samples/model-binding-errors" required-claims="BaseA, BaseB"
    number {
      @api-parameter required=#true in="query"
    }
    enumeration {
      @api-parameter in="query"
    }
  }
}

