locatable-label @controller-model {
  with {
    @action-model route="GET /locatable-labels/{label}" required-claims="BaseA, BaseB"
    label {
      @parameter-model required=#true in="route"
    }
  }
}

