method-samples @api-controller {
  execute {
    @api-action route="POST /method-samples/execute" required-claims="BaseA, BaseB"
  }
  update {
    @api-action route="PUT /method-samples" required-claims="BaseA, BaseB"
  }
  update-string {
    @api-action route="PATCH /method-samples/string" required-claims="BaseA, BaseB"
  }
  delete {
    @api-action route="DELETE /method-samples" required-claims="BaseA, BaseB"
  }
  void {
    @api-action route="POST /method-samples/void" required-claims="BaseA, BaseB"
  }
  get-strings {
    @api-action route="GET /method-samples/strings" required-claims="BaseA, BaseB"
  }
  get-data {
    @api-action route="GET /method-samples/data" required-claims="BaseA, BaseB"
  }
  set-setting {
    @api-action route="PATCH /method-samples/setting" required-claims="BaseA, BaseB"
    value {
      @api-parameter required=#true
    }
  }
  add-string {
    @api-action route="POST /method-samples/strings" required-claims="BaseA, BaseB"
    string {
      @api-parameter required=#true
    }
  }
  parameters {
    @api-action route="POST /method-samples/parameters" required-claims="BaseA, BaseB"
    required {
      @api-parameter required=#true
    }
    optional @api-parameter
  }
  void-async {
    @api-action route="POST /method-samples/void-async" required-claims="BaseA, BaseB"
  }
  get-async {
    @api-action route="GET /method-samples/async" required-claims="BaseA, BaseB"
    ms {
      @api-parameter required=#true in="query"
    }
  }
  request-class {
    @api-action route="POST /method-samples/request-class" required-claims="BaseA, BaseB"
    text {
      @api-parameter required=#true
    }
    numeric {
      @api-parameter required=#true
    }
  }
  object {
    @api-action route="POST /method-samples/object" flat-request-body=#true required-claims="BaseA, BaseB"
    object {
      @api-parameter required=#true
    }
  }
  object-async {
    @api-action route="POST /method-samples/object-async" flat-request-body=#true required-claims="BaseA, BaseB"
    object {
      @api-parameter required=#true
    }
  }
  multiple-objects {
    @api-action route="POST /method-samples/multiple-objects" required-claims="BaseA, BaseB"
    object1 {
      @api-parameter required=#true
    }
    object2 {
      @api-parameter required=#true
    }
  }
  primitive-parameters {
    @api-action route="POST /method-samples/primitive-parameters" required-claims="BaseA, BaseB"
    string {
      @api-parameter required=#true
    }
    int {
      @api-parameter required=#true
    }
    date-time {
      @api-parameter required=#true
    }
  }
  primitive-list-parameters {
    @api-action route="POST /method-samples/primitive-list-parameters" required-claims="BaseA, BaseB"
    strings {
      @api-parameter required=#true
    }
    ints {
      @api-parameter required=#true
    }
    date-times {
      @api-parameter required=#true
    }
  }
  record-parameters {
    @api-action route="POST /method-samples/record-parameters" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
  record-list-parameters {
    @api-action route="POST /method-samples/record-list-parameters" required-claims="BaseA, BaseB"
    records {
      @api-parameter required=#true
    }
  }
  get-value-type-parameters {
    @api-action route="GET /method-samples/value-type-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true in="query"
    }
    enumerable {
      @api-parameter required=#true in="query"
    }
    array {
      @api-parameter required=#true in="query"
    }
  }
  value-type-parameters {
    @api-action route="POST /method-samples/value-type-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true
    }
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
  }
  record-with-value-type {
    @api-action route="POST /method-samples/record-with-value-type" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
  get-entity-parameters {
    @api-action route="GET /method-samples/entity-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true in="query" name="singleId"
    }
    enumerable {
      @api-parameter required=#true in="query" name="enumerableIds"
    }
    array {
      @api-parameter required=#true in="query" name="arrayIds"
    }
  }
  entity-parameters {
    @api-action route="POST /method-samples/entity-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true
    }
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
  }
  record-with-entity {
    @api-action route="POST /method-samples/record-with-entity" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
  get-transient-parameters {
    @api-action route="GET /method-samples/transient-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true in="query" name="singleId"
    }
    enumerable {
      @api-parameter required=#true in="query" name="enumerableIds"
    }
    array {
      @api-parameter required=#true in="query" name="arrayIds"
    }
  }
  transient-parameters {
    @api-action route="POST /method-samples/transient-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true
    }
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
  }
  record-with-rich-transient {
    @api-action route="POST /method-samples/record-with-rich-transient" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
  get-transient-async-parameters {
    @api-action route="GET /method-samples/transient-async-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true in="query" name="singleId"
    }
    enumerable {
      @api-parameter required=#true in="query" name="enumerableIds"
    }
    array {
      @api-parameter required=#true in="query" name="arrayIds"
    }
  }
  transient-async-parameters {
    @api-action route="POST /method-samples/transient-async-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter required=#true
    }
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
  }
  record-with-rich-transient-async {
    @api-action route="POST /method-samples/record-with-rich-transient-async" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
}

