nullable-samples @api-controller {
  get-value-type {
    @api-action route="GET /nullable-samples/value-type" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query"
    }
    nullable {
      @api-parameter in="query"
    }
    optional {
      @api-parameter in="query"
    }
    optional-nullable {
      @api-parameter in="query"
    }
  }
  value-type {
    @api-action route="POST /nullable-samples/value-type" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional @api-parameter
    optional-nullable @api-parameter
  }
  get-enum {
    @api-action route="GET /nullable-samples/enum" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query"
    }
    nullable {
      @api-parameter in="query"
    }
    optional {
      @api-parameter in="query"
    }
    optional-nullable {
      @api-parameter in="query"
    }
  }
  enum {
    @api-action route="POST /nullable-samples/enum" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional @api-parameter
    optional-nullable @api-parameter
  }
  get-reference-type {
    @api-action route="GET /nullable-samples/reference-type" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query"
    }
    nullable {
      @api-parameter in="query"
    }
    optional {
      @api-parameter in="query"
    }
    optional-nullable {
      @api-parameter in="query"
    }
  }
  reference-type {
    @api-action route="POST /nullable-samples/reference-type" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional @api-parameter
    optional-nullable @api-parameter
  }
  record {
    @api-action route="POST /nullable-samples/record" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional-nullable @api-parameter
  }
  get-entity {
    @api-action route="GET /nullable-samples/entity" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query" name="notNullId"
    }
    nullable {
      @api-parameter in="query" name="nullableId"
    }
    optional-nullable {
      @api-parameter in="query" name="optionalNullableId"
    }
  }
  entity {
    @api-action route="POST /nullable-samples/entity" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional-nullable @api-parameter
  }
  get-entity-extension {
    @api-action route="GET /nullable-samples/entity-extension" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query" name="notNullId"
    }
    nullable {
      @api-parameter in="query" name="nullableId"
    }
    optional-nullable {
      @api-parameter in="query" name="optionalNullableId"
    }
  }
  entity-extension {
    @api-action route="POST /nullable-samples/entity-extension" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional-nullable @api-parameter
  }
  get-rich-transient {
    @api-action route="GET /nullable-samples/rich-transient" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true in="query" name="notNullId"
    }
    nullable {
      @api-parameter in="query" name="nullableId"
    }
    optional-nullable {
      @api-parameter in="query" name="optionalNullableId"
    }
  }
  rich-transient {
    @api-action route="POST /nullable-samples/rich-transient" required-claims="BaseA, BaseB"
    not-null {
      @api-parameter required=#true
    }
    nullable @api-parameter
    optional-nullable @api-parameter
  }
  get-value-type-parameters {
    @api-action route="GET /nullable-samples/value-type-parameters" required-claims="BaseA, BaseB"
    single {
      @api-parameter in="query"
    }
    enumerable {
      @api-parameter required=#true in="query"
    }
    array {
      @api-parameter required=#true in="query"
    }
  }
  value-type-parameters {
    @api-action route="POST /nullable-samples/value-type-parameters" required-claims="BaseA, BaseB"
    single @api-parameter
    enumerable {
      @api-parameter required=#true
    }
    array {
      @api-parameter required=#true
    }
  }
  record-with-value-type {
    @api-action route="POST /nullable-samples/record-with-value-type" required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
}

