override-samples @api-controller {
  update-route {
    @api-action route="POST /override-samples/override/update-route" required-claims="BaseA, BaseB"
  }
  parameter {
    @api-action route="POST /override-samples/parameter/{id}" required-claims="BaseA, BaseB"
    parameter {
      @api-parameter required=#true in="route" name="id"
    }
  }
  request-class {
    @api-action route="POST /override-samples/request-class" flat-request-body=#true required-claims="BaseA, BaseB"
    record {
      @api-parameter required=#true
    }
  }
}

