parent {
  @api-controller locate-route="GET /parents/{id}"
  with {
    @api-action route="POST /parents" required-claims="BaseA, BaseB"
    name {
      @api-parameter required=#true
    }
    surname {
      @api-parameter required=#true
    }
    status @api-parameter
    role @api-parameter
  }
  get-children {
    @api-action route="GET /parents/{id}/children" required-claims="BaseA, BaseB"
  }
  add-child {
    @api-action route="POST /parents/{id}/children" required-claims="BaseA, BaseB"
    name {
      @api-parameter required=#true
    }
  }
  update {
    @api-action route="PUT /parents/{id}/" required-claims="BaseA, BaseB"
    name @api-parameter
    surname @api-parameter
    description @api-parameter
  }
  remove-child {
    @api-action route="DELETE /parents/{id}/children/{childId}" required-claims="BaseA, BaseB"
    child {
      @api-parameter required=#true in="route" name="childId"
    }
  }
  delete {
    @api-action route="DELETE /parents/{id}/" required-claims="BaseA, BaseB"
  }
}

parents @api-controller {
  by {
    @api-action route="GET /parents" required-claims="BaseA, BaseB"
    name {
      @api-parameter in="query"
    }
    asc {
      @api-parameter in="query"
    }
    desc {
      @api-parameter in="query"
    }
    take {
      @api-parameter in="query"
    }
    skip {
      @api-parameter in="query"
    }
  }
  by-name {
    @api-action route="GET /parents/by-name" required-claims="BaseA, BaseB"
    contains {
      @api-parameter required=#true in="query"
    }
    asc {
      @api-parameter in="query"
    }
    desc {
      @api-parameter in="query"
    }
    take {
      @api-parameter in="query"
    }
    skip {
      @api-parameter in="query"
    }
  }
}

