redirect-samples {
  @controller-model groupName="RedirectSamples"
  form-post {
    @action-model method="POST" route="redirect-samples/form-post" form=#true
    key {
      @parameter-model required=#true
    }
  }
  form-post-async {
    @action-model method="POST" route="redirect-samples/form-post-async" form=#true
    key {
      @parameter-model required=#true
    }
  }
  callback {
    @action-model method="GET" route="redirect-samples/callback"
  }
  callback-async {
    @action-model method="GET" route="redirect-samples/callback-async"
  }
}

