redirect-samples @api-controller {
  form-post {
    @api-action route="POST /redirect-samples/form-post" form=#true required-claims="BaseA, BaseB"
    key {
      @api-parameter required=#true
    }
  }
  form-post-async {
    @api-action route="POST /redirect-samples/form-post-async" form=#true required-claims="BaseA, BaseB"
    key {
      @api-parameter required=#true
    }
  }
  callback {
    @api-action route="GET /redirect-samples/callback" required-claims="BaseA, BaseB"
  }
  callback-async {
    @api-action route="GET /redirect-samples/callback-async" required-claims="BaseA, BaseB"
  }
}

