report-samples @api-controller {
  get-entity {
    @api-action route="GET /report-samples/entity" required-claims="BaseA, BaseB"
    string {
      @api-parameter required=#true in="query"
    }
  }
  get-non-existing {
    @api-action route="GET /report-samples/non-existing" required-claims="BaseA, BaseB"
  }
}

