report-page-sample @api-controller {
  get-wide {
    @api-action route="GET /report-page-sample/wide" required-claims="BaseA, BaseB"
  }
  get-left {
    @api-action route="GET /report-page-sample/left" required-claims="BaseA, BaseB"
  }
  get-right {
    @api-action route="GET /report-page-sample/right" required-claims="BaseA, BaseB"
  }
  get-first {
    @api-action route="GET /report-page-sample/first" required-claims="BaseA, BaseB"
    count {
      @api-parameter in="query"
    }
  }
  get-second {
    @api-action route="GET /report-page-sample/second" required-claims="BaseA, BaseB"
    count {
      @api-parameter in="query"
    }
  }
}

