report-samples {
  @controller-model groupName="ReportSamples"
  get-entity {
    @action-model method="GET" route="report-samples/entity"
    string {
      @parameter-model required=#true in="query"
    }
  }
  get-non-existing {
    @action-model method="GET" route="report-samples/non-existing"
  }
}

