resource-samples @api-controller {
  read {
    @api-action route="POST /resource-samples/read" required-claims="BaseA, BaseB"
    sub-path {
      @api-parameter required=#true
    }
  }
  read-async {
    @api-action route="POST /resource-samples/read-async" required-claims="BaseA, BaseB"
    sub-path {
      @api-parameter required=#true
    }
  }
}

