rich-transient-async @api-controller {
  with {
    @api-action route="GET /rich-transient-asyncs/{id}" required-claims="BaseA, BaseB"
    id {
      @api-parameter required=#true in="route"
    }
  }
}

rich-transient-async-extension @api-controller {
  from-extension {
    @api-action route="POST /rich-transient-asyncs/{id}/from-extension" required-claims="BaseA, BaseB"
  }
}

