rich-transient-with-custom-id-property @api-controller {
  with {
    @api-action route="GET /rich-transient-with-custom-id-properties/{uid}" required-claims="BaseA, BaseB"
    uid {
      @api-parameter required=#true in="route"
    }
  }
  get-test-custom-id-property-name {
    @api-action route="GET /rich-transient-with-custom-id-properties/{uid}/test-custom-id-property-name" required-claims="BaseA, BaseB"
    other {
      @api-parameter required=#true in="query" name="otherUid"
    }
  }
  test-custom-id-property-name {
    @api-action route="POST /rich-transient-with-custom-id-properties/{uid}/test-custom-id-property-name" required-claims="BaseA, BaseB"
    other {
      @api-parameter required=#true
    }
  }
}

