rich-transient-async @controller-model {
  with {
    @action-model method="GET" route="rich-transient-asyncs/{id}"
    id {
      @parameter-model required=#true in="route"
    }
  }
}

rich-transient-async-extension @controller-model {
  from-extension {
    @action-model method="POST" route="rich-transient-asyncs/{id}/from-extension"
  }
}

