rich-transient-child {
  @controller-model groupName="RichTransientChildren"
  with {
    @action-model method="GET" route="rich-transient-children/{id}"
    id {
      @parameter-model required=#true in="route"
    }
  }
}

