route-parameters-sample @api-controller {
  with {
    @api-action route="GET /route-parameters-samples/{id}" anonymous=#true
    id {
      @api-parameter required=#true in="route"
    }
  }
  get-items {
    @api-action route="GET /route-parameters-samples/{id}/items" anonymous=#true
  }
}

