route-sample {
  @api-controller locate-route="GET /coding-style/namespace-as-route/route-samples/{id}"
  method {
    @api-action route="POST /coding-style/namespace-as-route/route-samples/{id}/method" required-claims="BaseA, BaseB"
  }
}

