time-provider-samples @api-controller {
  get-now {
    @api-action route="GET /time-provider-samples/now" required-claims="BaseA, BaseB"
  }
  get-utc-now {
    @api-action route="GET /time-provider-samples/utc-now" required-claims="BaseA, BaseB"
  }
  get-local-now {
    @api-action route="GET /time-provider-samples/local-now" required-claims="BaseA, BaseB"
  }
}

