transaction-samples @api-controller {
  commit-action {
    @api-action route="POST /transaction-samples/commit-action" required-claims="BaseA, BaseB"
  }
  commit-func {
    @api-action route="POST /transaction-samples/commit-func" required-claims="BaseA, BaseB"
  }
  commit-nullable {
    @api-action route="POST /transaction-samples/commit-nullable" required-claims="BaseA, BaseB"
    entity @api-parameter
    string {
      @api-parameter required=#true
    }
  }
  rollback {
    @api-action route="POST /transaction-samples/rollback" required-claims="BaseA, BaseB"
    string {
      @api-parameter required=#true
    }
  }
  rollback-multiple {
    @api-action route="POST /transaction-samples/rollback-multiple" required-claims="BaseA, BaseB"
    string {
      @api-parameter required=#true
    }
  }
}

