typed-entity {
  @controller-model groupName="TypedEntities"
  delete {
    @action-model method="DELETE" route="typed-entities/{id}/"
  }
}

typed-entities {
  @controller-model groupName="TypedEntities"
  by {
    @action-model method="GET" route="typed-entities"
  }
  single-by-type {
    @action-model method="GET" route="typed-entities/single-type"
    type {
      @parameter-model required=#true in="query"
    }
    throwNotFound {
      @parameter-model in="query"
    }
  }
}

