a-typed-entity @controller-model {
  with {
    @action-model method="POST" route="/typed-entities/a"
  }
  operate-on-a {
    @action-model method="POST" route="/typed-entities/a/operate-on-a"
  }
}

b-typed-entity @controller-model {
  with {
    @action-model method="POST" route="/typed-entities/b"
  }
  operate-on-b {
    @action-model method="POST" route="/typed-entities/b/operate-on-b"
  }
}

typed-entity @controller-model {
  delete {
    @action-model method="DELETE" route="/typed-entities/{id}/"
  }
}

typed-entities @controller-model {
  by {
    @action-model method="GET" route="/typed-entities"
  }
  single-by-type {
    @action-model method="GET" route="/typed-entities/single-type"
    type {
      @parameter-model required=#true in="query"
    }
    throwNotFound {
      @parameter-model in="query"
    }
  }
}

