a-typed-entities {
  @controller-model id="Baked.Playground.CodingStyle.EntitySubclass.ATypedEntities" className="Playground_CodingStyle_EntitySubclass_ATypedEntities" groupName="ATypedEntities" orphan=#false
}

