authentication-samples @controller-model {
  authenticate @action-model
  form-post-authenticate @action-model {
    value @parameter-model
  }
  login @allow-anonymous @action-model {
    username @allow-anonymous @parameter-model
  }
  refresh @require-user @action-model
}

