authorization-class-samples @require-user @controller-model {
  class-claims @require-user @action-model
  method-over-class-claims @require-user @action-model
  validate @require-user {
    expectedClaims @parameter-model
  }
  get-type @require-user
  memberwise-clone @require-user
  finalize @require-user
  to-string @require-user
  equals @require-user {
    obj @parameter-model
  }
  get-hash-code @require-user
}

