authorization-samples @controller-model {
  anonymous @allow-anonymous @action-model
  admin @require-user @action-model
  user @require-user @action-model
  authenticated @require-user @action-model
  base-claims @action-model
  given-claims @require-user @action-model
  given-and-base-claims @require-user @action-model
}

