create-bulk-command @controller-model {
  execute @action-model {
    descriptors @parameter-model
  }
}

sync-bulk-command @controller-model {
  execute @action-model {
    descriptors @parameter-model
  }
}

