create-bulk-command {
  @controller-model id="Baked.Playground.CodingStyle.CommandPattern.CreateBulkCommand" className="Playground_CodingStyle_CommandPattern_CreateBulkCommand" groupName="BulkCommand" orphan=#false
  execute {
    @action-model id="Execute" name="BulkCommand" method="PATCH" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#false additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="bulk-command"
    descriptors {
      @parameter-model id="descriptors" from="BodyOrForm" type="System.Collections.Generic.List<Baked.Playground.CodingStyle.CommandPattern.BulkDescriptor>" name="descriptors" internalName="descriptors" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

sync-bulk-command {
  @controller-model id="Baked.Playground.CodingStyle.CommandPattern.SyncBulkCommand" className="Playground_CodingStyle_CommandPattern_SyncBulkCommand" groupName="BulkCommand" orphan=#false
  execute {
    @action-model id="Execute" name="BulkCommand" method="PUT" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#false additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="bulk-command"
    descriptors {
      @parameter-model id="descriptors" from="BodyOrForm" type="System.Collections.Generic.List<Baked.Playground.CodingStyle.CommandPattern.BulkDescriptor>" name="descriptors" internalName="descriptors" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

