cache-samples @allow-anonymous @controller-model {
  with @allow-anonymous {
    parameter @parameter-model
  }
  get-scoped @allow-anonymous @action-model
  get-application @allow-anonymous @action-model
  get-type @allow-anonymous
  memberwise-clone @allow-anonymous
  finalize @allow-anonymous
  to-string @allow-anonymous
  equals @allow-anonymous {
    obj @parameter-model
  }
  get-hash-code @allow-anonymous
}

