class {
  @controller-model id="Baked.Playground.Business.Class" className="Playground_Business_Class" groupName="Class" orphan=#false
  method {
    @action-model id="Method" name="Method" method="POST" route="class/method" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  abstract-method {
    @action-model id="AbstractMethod" name="AbstractMethod" method="POST" route="class/abstract-method" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  interface-method {
    @action-model id="InterfaceMethod" name="InterfaceMethod" method="POST" route="class/interface-method" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  virtual-method {
    @action-model id="VirtualMethod" name="VirtualMethod" method="POST" route="class/virtual-method" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
}

