clear-command @controller-model {
  execute @action-model {
    executeParam @parameter-model
  }
}

command @controller-model {
  transient @action-model {
    body @parameter-model
  }
}

execute-command @controller-model {
  execute @action-model
}

get-command @controller-model {
  execute @action-model
}

update-command @controller-model {
  execute @action-model
}

