documentation-samples @controller-model {
  execute @action-model {
    parameter @parameter-model
  }
}

documentation-samples @controller-model {
  method @action-model {
    parameter1 @parameter-model
    parameter2 @parameter-model
  }
  parameterless-method @action-model
  array-and-generic-parameters @action-model {
    enumerable @parameter-model
    array @parameter-model
    dictionary @parameter-model
  }
  route @action-model {
    route @parameter-model
  }
  multiline @action-model
}

