documentation-samples {
  @controller-model id="Baked.Playground.CodingStyle.CommandPattern.DocumentationSamples" className="Playground_CodingStyle_CommandPattern_DocumentationSamples" groupName="DocumentationSamples" orphan=#false
  execute {
    @action-model id="Execute" name="DocumentationSamples" method="POST" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="documentation-samples"
    parameter {
      @parameter-model id="parameter" from="BodyOrForm" type="string" name="parameter" internalName="parameter" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

documentation-samples {
  @controller-model id="Baked.Playground.Business.DocumentationSamples" className="Playground_Business_DocumentationSamples" groupName="DocumentationSamples" orphan=#false
  method {
    @action-model id="Method" name="Method" method="POST" returnType="Baked.Playground.Business.DocumentedData" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="documentation-samples/method"
    parameter1 {
      @parameter-model id="parameter1" from="BodyOrForm" type="string" name="parameter1" internalName="parameter1" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
    parameter2 {
      @parameter-model id="parameter2" from="BodyOrForm" type="string" name="parameter2" internalName="parameter2" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  parameterless-method {
    @action-model id="ParameterlessMethod" name="ParameterlessMethod" method="POST" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="documentation-samples/parameterless-method"
  }
  array-and-generic-parameters {
    @action-model id="ArrayAndGenericParameters" name="ArrayAndGenericParameters" method="POST" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="documentation-samples/array-and-generic-parameters"
    enumerable {
      @parameter-model id="enumerable" from="BodyOrForm" type="System.Collections.Generic.IEnumerable<string>" name="enumerable" internalName="enumerable" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
    array {
      @parameter-model id="array" from="BodyOrForm" type="string[]" name="array" internalName="array" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
    dictionary {
      @parameter-model id="dictionary" from="BodyOrForm" type="System.Collections.Generic.Dictionary<string, string>" name="dictionary" internalName="dictionary" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  route {
    @action-model id="Route" name="Route" method="POST" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="documentation-samples/route/{route}"
    route {
      @parameter-model id="route" from="Route" type="string" name="route" internalName="route" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=2 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  multiline {
    @action-model id="Multiline" name="Multiline" method="POST" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="documentation-samples/multiline"
  }
}

