entity-with-auto-increment-id @controller-model {
  with @action-model
  get-test-custom-id-property-name @action-model {
    other @parameter-model
  }
  test-custom-id-property-name @action-model {
    other @parameter-model
  }
}

entity-with-auto-increment-ids @controller-model {
  by @action-model
}

