entity-with-auto-increment-id {
  @controller-model id="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId" className="Playground_CodingStyle_Id_EntityWithAutoIncrementId" groupName="EntityWithAutoIncrementIds" orphan=#false
  with {
    @action-model id="With" name="With" method="POST" returnType="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="entity-with-auto-increment-ids"
  }
  get-test-custom-id-property-name {
    @action-model id="GetTestCustomIdPropertyName" name="TestCustomIdPropertyName" method="GET" returnType="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="entity-with-auto-increment-ids/{primaryKey}/test-custom-id-property-name"
    other {
      @parameter-model id="other" from="Query" type="Baked.Business.Id" name="otherPrimaryKey" internalName="other" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  test-custom-id-property-name {
    @action-model id="TestCustomIdPropertyName" name="TestCustomIdPropertyName" method="POST" returnType="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="entity-with-auto-increment-ids/{primaryKey}/test-custom-id-property-name"
    other {
      @parameter-model id="other" from="BodyOrForm" type="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId" name="other" internalName="other" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

entity-with-auto-increment-ids {
  @controller-model id="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementIds" className="Playground_CodingStyle_Id_EntityWithAutoIncrementIds" groupName="EntityWithAutoIncrementIds" orphan=#false
  by {
    @action-model id="By" name="" method="GET" returnType="System.Collections.Generic.List<Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId>" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="entity-with-auto-increment-ids"
  }
}

