entity @controller-model {
  with @action-model {
    guid @parameter-model
    string @parameter-model
    stringData @parameter-model
    int32 @parameter-model
    unique @parameter-model
    uri @parameter-model
    dynamic @parameter-model
    enum @parameter-model
    dateTime @parameter-model
  }
  update @action-model {
    guid @parameter-model
    string @parameter-model
    stringData @parameter-model
    int32 @parameter-model
    unique @parameter-model
    uri @parameter-model
    dynamic @parameter-model
    enum @parameter-model
    dateTime @parameter-model
    useTransaction @parameter-model
    throwError @parameter-model
  }
  update-string @action-model {
    string @parameter-model
  }
  lock-and-increment-int-32 @action-model {
    offset @parameter-model
    delayInSeconds @parameter-model
  }
  delete @action-model
}

entities @controller-model {
  by @action-model {
    guid @parameter-model
    string @parameter-model
    stringData @parameter-model
    int32 @parameter-model
    unique @parameter-model
    uri @parameter-model
    enum @parameter-model
    dateTime @parameter-model
    take @parameter-model
    skip @parameter-model
  }
  first-by-string @action-model {
    startsWith @parameter-model
    asc @parameter-model
    desc @parameter-model
  }
  count-by-date @action-model
}

entity-extension @controller-model {
  increment-int-32 @action-model
  increment-by @action-model {
    other @parameter-model
  }
  increment-by-all @action-model {
    extensions @parameter-model
    moreExtensions @parameter-model
    evenMoreExtensions @parameter-model
  }
}

