entity-with-value-type {
  @controller-model id="Baked.Playground.CodingStyle.ValueType.EntityWithValueType" className="Playground_CodingStyle_ValueType_EntityWithValueType" groupName="EntityWithValueTypes" orphan=#false
  with {
    @action-model id="With" name="With" method="POST" route="entity-with-value-types" returnType="Baked.Playground.CodingStyle.ValueType.EntityWithValueType" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true
    value {
      @parameter-model id="value" from="BodyOrForm" type="Baked.Playground.CodingStyle.ValueType.Value" name="value" internalName="value" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

entity-with-value-types {
  @controller-model id="Baked.Playground.CodingStyle.ValueType.EntityWithValueTypes" className="Playground_CodingStyle_ValueType_EntityWithValueTypes" groupName="EntityWithValueTypes" orphan=#false
  by {
    @action-model id="By" name="" method="GET" route="entity-with-value-types" returnType="System.Collections.Generic.List<Baked.Playground.CodingStyle.ValueType.EntityWithValueType>" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    value {
      @parameter-model id="value" from="Query" type="Baked.Playground.CodingStyle.ValueType.Value?" name="value" internalName="value" isOptional=#true isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

