exception-samples {
  @controller-model id="Baked.Playground.ExceptionHandling.ExceptionSamples" className="Playground_ExceptionHandling_ExceptionSamples" groupName="ExceptionSamples" orphan=#false
  throw {
    @action-model id="Throw" name="Throw" method="POST" route="exception-samples/throw" returnType="void" returnIsAsync=#false returnIsVoid=#true invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    handled {
      @parameter-model id="handled" from="Query" type="bool" name="handled" internalName="handled" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

