form-sample @allow-anonymous @controller-model {
  new-parent @allow-anonymous @action-model {
    surname @parameter-model
    name @parameter-model
  }
  clear-parents @allow-anonymous @action-model
  get-parents @allow-anonymous @action-model {
    take @parameter-model
    skip @parameter-model
    sort @parameter-model
  }
  get-type @allow-anonymous
  memberwise-clone @allow-anonymous
  finalize @allow-anonymous
  to-string @allow-anonymous
  equals @allow-anonymous {
    obj @parameter-model
  }
  get-hash-code @allow-anonymous
}

