implemented-polymorphic {
  @controller-model id="Baked.Playground.Business.ImplementedPolymorphic" className="Playground_Business_ImplementedPolymorphic" groupName="ImplementedPolymorphic" orphan=#false
}

