method-samples @controller-model {
  execute @action-model
  update @action-model
  update-string @action-model
  delete @action-model
  void @action-model
  get-strings @action-model
  get-data @action-model
  set-setting @action-model {
    value @parameter-model
  }
  add-string @action-model {
    string @parameter-model
  }
  parameters @action-model {
    required @parameter-model
    optional @parameter-model
  }
  void-async @action-model
  get-async @action-model {
    ms @parameter-model
  }
  request-class @action-model {
    text @parameter-model
    numeric @parameter-model
  }
  object @action-model {
    object @parameter-model
  }
  object-async @action-model {
    object @parameter-model
  }
  multiple-objects @action-model {
    object1 @parameter-model
    object2 @parameter-model
  }
  primitive-parameters @action-model {
    string @parameter-model
    int @parameter-model
    dateTime @parameter-model
  }
  primitive-list-parameters @action-model {
    strings @parameter-model
    ints @parameter-model
    dateTimes @parameter-model
  }
  record-parameters @action-model {
    record @parameter-model
  }
  record-list-parameters @action-model {
    records @parameter-model
  }
  get-value-type-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  value-type-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  record-with-value-type @action-model {
    record @parameter-model
  }
  get-entity-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  entity-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  record-with-entity @action-model {
    record @parameter-model
  }
  get-transient-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  transient-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  record-with-rich-transient @action-model {
    record @parameter-model
  }
  get-transient-async-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  transient-async-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  record-with-rich-transient-async @action-model {
    record @parameter-model
  }
}

