nested-type-in-api {
  @controller-model id="Baked.Playground.Business.NestedTypeInApi" className="Playground_Business_NestedTypeInApi" groupName="NestedTypeInApi" orphan=#false
  execute {
    @action-model id="Execute" name="NestedTypeInApi" method="POST" returnType="Baked.Playground.Business.NestedTypeInApi.Result" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="nested-type-in-api"
    input {
      @parameter-model id="input" from="BodyOrForm" type="Baked.Playground.Business.NestedTypeInApi.Input" name="input" internalName="input" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

