nullable-samples @controller-model {
  get-value-type @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  value-type @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  get-enum @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  enum @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  get-reference-type @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  reference-type @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optional @parameter-model
    optionalNullable @parameter-model
  }
  record @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  get-entity @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  entity @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  get-entity-extension @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  entity-extension @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  get-rich-transient @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  rich-transient @action-model {
    notNull @parameter-model
    nullable @parameter-model
    optionalNullable @parameter-model
  }
  get-value-type-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  value-type-parameters @action-model {
    single @parameter-model
    enumerable @parameter-model
    array @parameter-model
  }
  record-with-value-type @action-model {
    record @parameter-model
  }
}

