parent @controller-model {
  with @action-model {
    name @parameter-model
    surname @parameter-model
  }
  get-children @action-model
  add-child @action-model {
    name @parameter-model
  }
  update @action-model {
    name @parameter-model
    surname @parameter-model
    description @parameter-model
  }
  remove-child @action-model {
    child @parameter-model
  }
  delete @action-model
}

parents @controller-model {
  by @action-model {
    name @parameter-model
    asc @parameter-model
    desc @parameter-model
    take @parameter-model
    skip @parameter-model
  }
  by-name @action-model {
    contains @parameter-model
    asc @parameter-model
    desc @parameter-model
    take @parameter-model
    skip @parameter-model
  }
}

