redirect-samples @controller-model {
  form-post @action-model {
    key @parameter-model
  }
  form-post-async @action-model {
    key @parameter-model
  }
  callback @action-model
  callback-async @action-model
}

