report-page-sample @controller-model {
  get-wide @action-model
  get-left @action-model
  get-right @action-model
  get-first @action-model {
    count @parameter-model
  }
  get-second @action-model {
    count @parameter-model
  }
}

