report-samples {
  @controller-model id="Baked.Playground.Reporting.ReportSamples" className="Playground_Reporting_ReportSamples" groupName="ReportSamples" orphan=#false
  get-entity {
    @action-model id="GetEntity" name="Entity" method="GET" route="report-samples/entity" returnType="System.Threading.Tasks.Task<System.Collections.Generic.List<Baked.Playground.Reporting.EntityReportData>>" returnIsAsync=#true returnIsVoid=#false invocationIsAsync=#true useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    string {
      @parameter-model id="string" from="Query" type="string" name="string" internalName="string" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-non-existing {
    @action-model id="GetNonExisting" name="NonExisting" method="GET" route="report-samples/non-existing" returnType="System.Threading.Tasks.Task" returnIsAsync=#true returnIsVoid=#true invocationIsAsync=#true useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
}

