report-page-sample {
  @controller-model id="Baked.Playground.Theme.ReportPageSample" className="Playground_Theme_ReportPageSample" groupName="ReportPageSample" orphan=#false
  get-wide {
    @action-model id="GetWide" name="Wide" method="GET" route="report-page-sample/wide" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  get-left {
    @action-model id="GetLeft" name="Left" method="GET" route="report-page-sample/left" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  get-right {
    @action-model id="GetRight" name="Right" method="GET" route="report-page-sample/right" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
  get-first {
    @action-model id="GetFirst" name="First" method="GET" route="report-page-sample/first" returnType="System.Threading.Tasks.Task<System.Collections.Generic.List<Baked.Playground.Theme.ReportRow>>" returnIsAsync=#true returnIsVoid=#false invocationIsAsync=#true useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    count {
      @parameter-model id="count" from="Query" type="Baked.Playground.Theme.CountOptions" name="count" internalName="count" isOptional=#true defaultValue="Default" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-second {
    @action-model id="GetSecond" name="Second" method="GET" route="report-page-sample/second" returnType="System.Threading.Tasks.Task<System.Collections.Generic.List<Baked.Playground.Theme.ReportRow>>" returnIsAsync=#true returnIsVoid=#false invocationIsAsync=#true useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    count {
      @parameter-model id="count" from="Query" type="Baked.Playground.Theme.CountOptions" name="count" internalName="count" isOptional=#true defaultValue="Default" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

