rich-transient-async {
  @controller-model id="Baked.Playground.CodingStyle.RichTransient.RichTransientAsync" className="Playground_CodingStyle_RichTransient_RichTransientAsync" groupName="RichTransientAsyncs" orphan=#false
  with {
    @action-model id="With" name="With" method="GET" route="rich-transient-asyncs/{id}" returnType="System.Threading.Tasks.Task<Baked.Playground.CodingStyle.RichTransient.RichTransientAsync>" returnIsAsync=#true returnIsVoid=#false invocationIsAsync=#true useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
    id {
      @parameter-model id="id" from="Route" type="Baked.Business.Id" name="id" internalName="id" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=1 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

rich-transient-async-extension {
  @controller-model id="Baked.Playground.CodingStyle.LocatableExtension.RichTransientAsyncExtension" className="Playground_CodingStyle_LocatableExtension_RichTransientAsyncExtension" groupName="RichTransientAsyncs" orphan=#false
  from-extension {
    @action-model id="FromExtension" name="FromExtension" method="POST" route="rich-transient-asyncs/{id}/from-extension" returnType="Task<string>" returnIsAsync=#true returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false
  }
}

