rich-transient-child {
  @controller-model id="Baked.Playground.CodingStyle.RichTransient.RichTransientChild" className="Playground_CodingStyle_RichTransient_RichTransientChild" groupName="RichTransientChildren" orphan=#false
  with {
    @action-model id="With" name="With" method="GET" returnType="Baked.Playground.CodingStyle.RichTransient.RichTransientChild" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="rich-transient-children/{id}"
    id {
      @parameter-model id="id" from="Route" type="Baked.Business.Id" name="id" internalName="id" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=1 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

