rich-transient-with-custom-id-property @controller-model {
  with @action-model {
    uid @parameter-model
  }
  get-test-custom-id-property-name @action-model {
    other @parameter-model
  }
  test-custom-id-property-name @action-model {
    other @parameter-model
  }
}

