rich-transient-with-data @controller-model {
  with @action-model {
    id @parameter-model
  }
  method @action-model {
    text @parameter-model
  }
}

rich-transient-extension @controller-model {
  from-extension @action-model
}

