rich-transient-no-data {
  @controller-model id="Baked.Playground.CodingStyle.RichTransient.RichTransientNoData" className="Playground_CodingStyle_RichTransient_RichTransientNoData" groupName="RichTransientNoDatas" orphan=#false
  method {
    @action-model id="Method" name="Method" method="POST" returnType="string" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#true route="rich-transient-no-datas/{id}/method"
    text {
      @parameter-model id="text" from="BodyOrForm" type="string" name="text" internalName="text" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
}

