route-parameters-sample @allow-anonymous @controller-model {
  with @allow-anonymous @action-model {
    id @parameter-model
  }
  get-id @allow-anonymous
  set-id @allow-anonymous {
    value @parameter-model
  }
  get-items @allow-anonymous @action-model
  <getitems>b--5-0 @allow-anonymous {
    _ @parameter-model
    index @parameter-model
  }
  get-type @allow-anonymous
  memberwise-clone @allow-anonymous
  finalize @allow-anonymous
  to-string @allow-anonymous
  equals @allow-anonymous {
    obj @parameter-model
  }
  get-hash-code @allow-anonymous
}

