route-parameters-sample @allow-anonymous {
  @controller-model id="Baked.Playground.Theme.RouteParametersSample" className="Playground_Theme_RouteParametersSample" groupName="RouteParametersSamples" orphan=#false
  with @allow-anonymous {
    @action-model id="With" name="With" method="GET" returnType="Baked.Playground.Theme.RouteParametersSample" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="route-parameters-samples/{id}"
    id {
      @parameter-model id="id" from="Route" type="Baked.Business.Id" name="id" internalName="id" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=1 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-id @allow-anonymous
  set-id @allow-anonymous {
    value {
      @parameter-model id="value" from="BodyOrForm" type="Baked.Business.Id" name="value" internalName="value" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-items @allow-anonymous {
    @action-model id="GetItems" name="Items" method="GET" returnType="System.Collections.Generic.List<Baked.Playground.Theme.Item>" returnIsAsync=#false returnIsVoid=#false invocationIsAsync=#false useForm=#false useRequestClassForBody=#true additionalAttributes="System.Collections.Generic.List`1[System.String]" order=0 orphan=#false hasBody=#false route="route-parameters-samples/{id}/items"
  }
  <getitems>b--5-0 @allow-anonymous {
    _ {
      @parameter-model id="_" from="BodyOrForm" type="int" name="_" internalName="_" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
    index {
      @parameter-model id="index" from="BodyOrForm" type="int" name="index" internalName="index" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-type @allow-anonymous
  memberwise-clone @allow-anonymous
  finalize @allow-anonymous
  to-string @allow-anonymous
  equals @allow-anonymous {
    obj {
      @parameter-model id="obj" from="BodyOrForm" type="object" name="obj" internalName="obj" isOptional=#false defaultValue="" isInvokeMethodParameter=#true isHardCoded=#false order=0 routePosition=0 additionalAttributes="System.Collections.Generic.List`1[System.String]" orphan=#false
    }
  }
  get-hash-code @allow-anonymous
}

