transaction-samples @controller-model {
  commit-action @action-model
  commit-func @action-model
  commit-nullable @action-model {
    entity @parameter-model
    string @parameter-model
  }
  rollback @action-model {
    string @parameter-model
  }
}

