a-typed-entity @controller-model {
  with @action-model
  operate-on-a @action-model
}

b-typed-entity @controller-model {
  with @action-model
  operate-on-b @action-model
}

typed-entity @controller-model {
  delete @action-model
}

typed-entities @controller-model {
  by @action-model
  single-by-type @action-model {
    type @parameter-model
    throwNotFound @parameter-model
  }
}

