EntityWithAutoIncrementId @entity {
  primaryKey {
    @id routeName="primaryKey" mapping="MappingOptions { UserType = Baked.CodingStyle.Id.IdIntUserType, IdentifierGenerator = NHibernate.Id.IdentityGenerator }"
  }
}
EntityWithAutoIncrementIds {
  @query locatableType="Baked.Playground.CodingStyle.Id.EntityWithAutoIncrementId"
}

